# Compiled output
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.tfplan
terraform/*.tfplan.*
terraform/*.lock.hcl

# Python backend
terraform/lambda/myenv/
terraform/lambda/package/
terraform/lambda/pymysql
terraform/lambda/PyMy*
terraform/lambda/*.zip
terraform/lambda/__pycache__/
terraform/lambda/*.pyc


# Python backend
backend/venv/
backend/__pycache__/
backend/*.pyc

# Vue.js frontend
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log
frontend/yarn-debug.log
frontend/yarn-error.log
frontend/package-lock.json

# Logs
*.log
crash.log

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*.vscode/
*.idea/

# Backup files
*.bak
*.backup
